<!-- <p-splitButton 
    label = "Save" 
    icon = "pi pi-user" 
    (onClick) = "save()" 
    [model] = "items">
</p-splitButton> -->
<!-- <button pButton 
        type="button" 
        label="Click"
        icon={{iconBtn}} 
        iconPos="right" 
        (click)="handleClick($event)">
</button> -->

<vrl-button 
    iconbtn={{iconBtn}}
    label={{label}}
    loading={{loadValue}}
    (clicked)="handleClick($event)"
    >
</vrl-button>

<div class="container">
<form>
<vrl-inputtext
    id="user"
    label="usuario"
    icon="pi pi-cloud"
    [(model)]="usuario"
    (value)="handleValue($event)"
>

</vrl-inputtext
>
</form>
</div>

