<div class="form-group">
  <!-- <a class="float-right" href="#"><small>recuperar</small></a> -->
  <label>{{label}}</label>
  <div class="ui-inputgroup" 
  >
      <span class="ui-inputgroup-addon" *ngIf="icon">
          <i class="{{icon}}" style="line-height: 1.25;"></i>
      </span>
      <input type="password" pPassword 
          id={{id}} 
          [feedback]  = false
          [(ngModel)] = "model" 
          (ngModelChange) = "handleChange($event)"
          name={{id}}
          [ngClass]="{'has-error': error=='true'?true:false}"
      />
  </div>
</div>
