<nav class="navbar navbar-expand-lg navbar-light bg-light" id="vrl-header">

    <div class="topnav">
      <a (click)="sidebarSRV.toggle()">
        <svg width="30" height="30" id="icoOpen">
            <path d="M0,5 30,5" stroke="#000" stroke-width="5"/>
            <path d="M0,14 30,14" stroke="#000" stroke-width="5"/>
            <path d="M0,23 30,23" stroke="#000" stroke-width="5"/>
        </svg>
      </a>
    </div>

    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
    
            </li>
        </ul>
        <vrl-combouser
          class = "ml-auto"
          label = {{user.username}}
          menalignright = true
          info = []
          icon = "pi pi-user"
          (selectedoption) = "handleSelection($event)"
        > 
        </vrl-combouser>
    </div>
  </nav>
