/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: rgb(229, 234, 238);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: red;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}


.menu-container {
  width: 100%;
  height: 100%;
  padding-left: 1em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.menu-container:hover {
  cursor: pointer;
  background-color: rgb(126, 158, 189);
}

.menu-container .menu-option .menu-label {
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;
  width: 80%;
  background-color: red;
}


.sidebar i {
  margin-right: 0.5em;
  vertical-align: middle;
  font-size: 1.5em;
  font-weight: normal;
  color: rgb(88, 88, 88);
  background-color: green;
}

.sidebar i .opener {
  width: 10%;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
